.App {
  text-align: center;
}

.Tiles button {
  border: #ccc solid 1px;
  width: 70px;
  height: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  font-size: 50px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

.Boarder {
  border: #ccc solid 1px;
  margin: auto;
  margin-top: 50px;
  padding-top: 2px;
  border-radius: 5px;
  flex-grow: 2;
}

.smallBoarder {
  width: 450px;
  height: 372px;
}

.largeBoarder {
  width: 745px;
  height: 520px;
}

.Footer {
  width: 200px;
  border-radius: 5px;
  background-color: #eee;
  padding: 5px;
  margin: auto;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}

.SideBar {
  padding: 10px;
  padding-top: 50px;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #eee;
  overflow-x: hidden;
  color: #555
}

.available {
  background-color: #eee;
}

.selected {
  background-color: #ccc;
}

.unavailable {
  background-color: #444;
}

.Button {
  font-size: 20px;
  display: inline-block;
  margin: 10px;
  border-radius: 3px;
  background-color: #ccc;
  outline: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: all 200ms;
  min-width: 100px;
}

.Button:hover {
  background-color: rgb(49, 108, 163);
  color: white
}


.blink {
  animation: blinker 1s linear infinite;
  color: red
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.radio {
  margin: 10px;
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
}

.radio input{

  font-size: 25px;
}

.Acknowledgement{
  font-size: 10px;
  bottom: 10px;
  position: fixed;
}